body {
    background-color: lightgrey;
}

header, footer {
    background-color:lightblue;
    color: black;
}

.border {
    border: thick solid blue;
}

header{
  font-family: 'Comic Neue', cursive;


}

<style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<button class="btn"><i class="fa fa-home"></i></button>

</style>
